@import './core/reset';
@import './core/variables';

/* Contenedor principal */
.container {
  max-width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
      max-width: 90%; /* Reduce el ancho en pantallas más pequeñas */
      padding: 15px; /* Aumenta el padding en pantallas más pequeñas */
    }
    
    .header, .footer {
      max-width: 90%; /* Ancho máximo igual al contenedor principal */
      margin: 0 auto; /* Centrar el header y el footer */
      padding: 15px; /* Mantener el padding igual al contenedor principal */
    }
  }

@media (min-width: 1200px) {
  .container {
    max-width: 800px; /* Establece un ancho máximo en pantallas grandes */
    width: 100%;
    margin: 20px auto; /* Centrar el contenedor */
    padding: 20px; /* Aumenta el padding en pantallas grandes */
  }
}

/* Estilos para Header y Footer */
.header, .footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.header h1, .footer p {
  margin: 0;
}

/* Título principal */
.ppalTitle {
  color: #333;
  text-align: center;
}

/* Formulario */
.form-container {
  margin-bottom: 20px;
}

.form-title {
  font-size: 1.5rem; /* Ajustar tamaño para mejor visibilidad */
  color: #333;
  margin-bottom: 20px; /* Reduce el espacio entre el título y el formulario */
}

.form-label {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input, .form-textarea, .form-button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Asegúrate de que ocupen el 100% del ancho del contenedor */
  margin-bottom: 15px;
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

.form-textarea {
  resize: vertical; /* Permite que se redimensione verticalmente */
}

.form-button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  text-align: center;
}

.form-button:hover {
  background-color: #45a049; /* Color más oscuro al pasar el ratón */
}

/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header {
  background-color: #4CAF50;
  color: white;
}

.table-cell, .table-header-cell {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table-cell.warning {
  color: red;
  font-weight: bold;
}

.table-cell.normal {
  color: green;
}

.chart {
  margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  margin-bottom: 20px; /* Espacio inferior para separar del footer */
}

.table-row {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}

.table-header-cell, .table-cell {
  text-align: left;
  padding: 8px;
  border-bottom: none;
}

@media (max-width: 480px) {
  /* Cambiar la tabla a un diseño tipo "card" en pantallas pequeñas */
  .table {
    display: block;
    width: 100%;
  }

  .table-row {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff; /* Color de fondo para las filas */
  }

  .table-header {
    display: none; /* Ocultar encabezado de tabla */
  }

  .table-cell {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: none;
  }

  /* Agregar etiquetas a cada celda para mejorar la claridad */
  .table-cell::before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
  }
}
